@import play.api.Play.current
@import play.api.cache
@import logic.Project
@import logic.generator.scriptElement._
@import logic.SerieProject
@(season: Int)(episode: Int)(scene: Int)(implicit messages: Messages)

@main("Sammy - Scenario: " + cache.Cache.getAs[Project]("project").get.oeuvre.descriptor.title) {
    <header>
        @headerNav()
        <nav class="noShadow">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/scenario/@season" class="breadcrumb">@messages("Scenario.season", season + 1) </a>
                    <a href="/scenario/@season/@episode" class="breadcrumb">@messages("Scenario.episode", episode + 1)</a>
                    <a href="#!" class="breadcrumb">@messages("Scenario.scene", scene + 1)</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="section">
            <div class="container">
                <div class="row">
                @for(scriptElement <- cache.Cache.getAs[SerieProject]("project").get.oeuvre(season)(episode)(scene)) {
                    @scriptElement match {
                        case sceneHeading: SceneHeading => {<div class="row"><div class="col s12">@sceneHeading</div></div>}
                        case action: Action => {<div class="row"><div class="justify col s12">@action</div></div>}
                        case character: CharacterName => {<div class="row b-margin-0"><div class="center col s12">@character.toString.toUpperCase</div></div>}
                        case parenthetical: Parenthetical => {<div class="row b-margin-0"><div class="center col s12">(@parenthetical)</div></div>}
                        case dialogue: Dialogue => {<div class="row"><div class="justify col s8 offset-s2">@dialogue</div></div>}
                    }
                }

                </div>
            </div>
        </div>
    </main>
} {
    @serieNav(cache.Cache.getAs[SerieProject]("project").get.oeuvre)(season)(episode)(scene)
}